body {
    background-image: url("Medien/hintergrund.png");
    font-family     : sans-serif;
    max-width       : 800px;
    margin          : auto;
}

#kursivlink {
    font-style: italic;
}

a {
    text-decoration   : none;
    /* font-style     : italic; */
    color             : rgb(22, 22, 163);
}


#navibereich {

    background-color   : none;
    padding            : 5px 5px;
    position           : fixed;
    right              : 22%;
    /*Navi bleibt an einer stelle und geht nur so lang, wie groß es ist*/
    top                : 0;
    /* font-style      : normal; */
}

#navibereich li,
.aside-navi {
    /*Navibereich beschränken - Alle li-Kisten gestalten*/
    display        : inline;
    /* li nebeneinander anzeigen, Gegenteil von Block */
    list-style-type: none;
    /* ohne Aufzählungspunkte */
}

#navibereich a,
.aside.navi {
    color          : black;
    text-decoration: none;
    padding        : 5px 20px;
    /*oder 5px*/
}

#navibereich a:hover,
.aside-navi a:hover {
    color: rgb(22, 22, 163);
}

.schwarz {
    color: black;
}

#navibereich a:hover,
.index1 #navi1 a,
.index2 #navi2 a,
.index3 #navi3 a,
.aside-navi #navi4 a {
    color: rgb(22, 22, 163);
}


/*image {
        display: inline;
    }*/
#ich {
    align-items: center;
    margin     : 50px;
}

.blocktext {
    hyphens   : auto;
    /*Ändert Silbentrennung*/
    text-align: justify;
    /*Blocksatz*/
    margin-top: 30px;
}

.Pfeil {
    float        : right;
    margin-top   : 20px;
    margin-bottom: 20px;
}

.Pfeil2 {
    float        : right;
    margin-top   : 190px;
    margin-bottom: 20px;
}

.container {
    height             : 400px;
    width              : 100%;
    /* background-image: url(Medien/blauweiß.jpg); */

    /* position     : relative;
    text-align      : center;
    color           : white;
    margin-top      : 50px; */

}

#bild2 {
    width     : 100%; /*Nutzt den ganzen Platz der zu Verfügung ist.*/
    opacity   : 0.5;
    margin-top: 40px;
}

.center {
    position : absolute;
    top      : 55%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

/* .center {
    position: absolute;
    top     : 8px;
    left    : 16px;
    float: center;
    text-align: center;
    align-items: center;
    margin     : auto;
} */

/*ABOUT ME*/
#name-container {
    height             : 300px;
    width              : 100%;
    /* background      : cadetblue; */
    background-image   : url(Medien/blauweiß.jpg);
    opacity            : 0.5;
    /* color           :black; */
    font-family        : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align         : center;
    display            : flex;
    align-items        : center;
    margin-top         : 40px;
}

.inside {
    padding: 20px;
    border : 4px solid black;
    margin : auto;
}

h2 {
    font-size     : 40px;
    font-weight   : 900;
    text-transform: uppercase;
    margin        : 0;
}

h3 {
    font-size: 17px;
    margin   : 0;
}

.icons img:hover {
    opacity: 0.5;
}

#absender,
#kontaktformular input[type="submit"] {
    margin-bottom: 10px;
}

#kontaktformular input[type="text"],
#kontaktformular textarea {
    width              : 350px;
    font-family        : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: lightgrey; */
    background-color   : rgb(187, 203, 214);
    border             : 1px solid lightgray;
    border-radius      : 3px;
}

.aside-navi {
    float: right;
}

.images {
    width     : 100%;
    margin-top: 40px;
}

.images p {
    font-size: small;
}

.images div {
    width  : 300px;
    display: inline-block;
}

/* #Anker {
    font-size: x-large;
} */

.text div {
    width       : 350px;
    display     : inline-block;
    margin-right: 40px;
}

.logo {
    margin-top: 10px;
    width     : 200px;
}

#aboutme {
    font-size: x-large;
}